* {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    overflow-y: hidden;
}

.chat-box {
    width: 100%;
    height: 75vh;
    z-index: 0;
    overflow-y: auto;
}

.input {
    width: 100%;
    height: 22vh;
    z-index: 2;
    border-top: 2px #ccc solid;
}

.message {
    border: 1px #ccc solid;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    margin: 5px;
    z-index: 1;
}

.send {
    display: block;
    margin: auto;
    margin-top: 3.5%;
}