<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem Ipsum</title>
    <script src="../scripts/main.js"></script>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <h4>BCR</h4>
        <div class="right">
            <div class="min">-</div>
            <div class="max">+</div>
            <div class="close">x</div>
        </div>
    </header>
    <main>
        <div class="rooms">
            <button class="roomButton exampleRoomName">exampleRoomName</button>
            <button class="roomButton exampleRoomName">exampleRoomName</button>
        </div>
        <div class="room">
            <div class="messages">
                
            </div>
            <div class="input">
                <input type="text">
            </div>
            <div class="members"></div>
        </div>
    </main>
</body>
</html>