<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/updater.css">
    <script src="../scripts/updater.js" defer></script>
    <title>Updater</title>
</head>
<body>
    <main class="status">
        <div class="top" id="top">Loading</div>
        <div class="bottom" id="bottom">Basic Chat Room</div>
    </main>
</body>
</html>