/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --text: #d3d8dc;
        --background: #323d46;
        --accent-color: #5b00ff;
        --primary-button: #220753;
        --secondary-button: #693abf;
    }    
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    :root {
        --text: #272a2e;
        --background: #ffffff;
        --accent-color: #5b00ff;
        --primary-button: #220753;
        --secondary-button: #693abf;
    }
}

body {
    background-color: var(--background);
    color: var(--text);
}