/* Main Screen Stuff */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #757d8a;
    border: 2px solid #27323c;
    border-radius: 25px;
}

/* Header */

header {
    background-color: #212a32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

.right * {
    display: inline;
}

.right {
    margin: auto 0;
}

/* Main Stuff */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - 77px + 1em);
}


.rooms {
    height: 95%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #27323c;
}

.roomButton {
    background-color: transparent;
    padding: 10px 5px;
    margin: 5px 5px;
    border: 2px solid #757d8a;
    cursor: pointer;
    transition-duration: 250ms;
    font-family: Inter;
    color: var(--text);
}

.roomButton:hover {
    background-color: #757d8a75;
}

.join {
    border: none;
    padding: 10px 0;
    color: #c0cad4;
    background-color: #27323c;
    width: 100%;
    position: sticky;
    top: 0;
    cursor: pointer;
    transition-duration: 250ms;
}

.join:hover {
    background-color: #414d59;
}

/* Room */

.room {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 12fr 1fr;
    height: 100%;
    width: 100%;
}

.messages {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.members {
    grid-column: 2;
    grid-row: 1 / span 2;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #27323c;
}

.inputs {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-top: #212a32 solid 2px;
}

.messageInput {
    width: 75%;
    font-size: 1em;
    height: max-content;
    padding: .5em 0;
    outline: none;
    margin: auto 0;
    background-color: transparent;
    border: none;
    color: #757d8a;
    transition-duration: 250ms;
    border-radius: 25px;
    padding: 5px 10px;
}

.messageInput:hover {
    box-shadow: 1px 1px 10px #212a32,
        -1px -1px 10px #212a32;
}

.send {
    width: 2em;
    aspect-ratio: 1/1;
}

.send {
    fill: #c0cad4;
    transition-duration: 250ms;
    cursor: pointer;
    padding: 0 10px;
}

.send:hover {
    fill: #6c7987;
}